@{
    Layout = "_AdminLayout";
}
@model usersresponsemodel.UsersResponseModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4></h4>
                </div>
                <div class="card-body">
                    <form action="/Admin/EditUser" method="post">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="mail" value="@Model.Email" hidden>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="NewEmail" value="@Model.Email" required>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="role">Rol</label>
                            <select class="form-control" id="role" name="Role">
                                @foreach (var item in ViewBag.roles)
                                {
                                    if(ViewBag.userRole == item.Name)
                                    {
                                        <option value="@item.Name" selected>@item.Name</option>

                                    } else
                                    {
                                        <option value="@item.Name">@item.Name</option>

                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">Düzenle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>